{% include 'header.html' %}


<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top not-front">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- <h1 class="logo"><a href="index.html">OSM<span>.</span></a></h1> -->
      <a href="{{url_for('main_page')}}" class="logo"><img src="../static/assets/img/osmwhitenew.png" alt="" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{{ url_for('main_page')}}">Kompania</a></li>
          <li><a href="{{url_for('about')}}">Rreth nesh</a></li>
          <li><a href="{{url_for('sherbime')}}">Sherbime</a></li>
          <li><a href="{{url_for('kontakt')}}">Kontakt</a></li>

        </ul>
      </nav><!-- .nav-menu -->
    </div>
</header><!-- End Header -->

<main id="main" class="not-front-page">
 <!-- ======= Contact Section ======= -->
 <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </div>

      <div>
        <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1455.6117626556297!2d19.823683652967446!3d41.319111842748185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1619115488940!5m2!1sen!2s" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="row mt-5">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="icofont-google-map"></i>
              <h4>Location:</h4>
              <p>Tiranë, Albania</p>
            </div>

            <div class="email">
              <i class="icofont-envelope"></i>
              <h4>Email:</h4>
              <p>TODO: </p>
            </div>

            <div class="phone">
              <i class="icofont-phone"></i>
              <h4>Call:</h4>
              <p>+355 67 55 613 26 </p>
            </div>

          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">

          <form action="{{url_for('kontakt')}}" method="post"  name="sentMessage">
            <div class="form-row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Emri juaj"/>
                <div class="validate">
                </div>
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email"/>
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subjekti"/>
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" placeholder="Mesazhi"></textarea>
              <div class="validate"></div>
            </div>
            {% if message=='yes' %}
            <h5 class='message-sent'>Mesazhi u dergua</h2>
            {% elif message=='no' %}
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
          {% endif %}
        </div>


      </div>

    </div>
  </section>
  <!-- End Contact Section -->



</main>

{% include 'footer.html' %}

</body>
</html>